<div> 
        <main>
            <section class="container1">
                <span class="h1">Busca tu foto favorita</span>
                <div class="form-group">
                    <label class="form-label" for="input-example-1"></label>
                    <input class="form-input" type="text" id="input-example-1" placeholder="Ingresa tu tema de búsqueda">
                  </div>
            </section>
            <section class="containerSearch">
                <h1>Resultados</h1>
                </section>
            <section class="container2">
                <h1>Busca tu foto</h1>
            </section>
        </main>
</div>
